* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background: #0b0c10;
  color: #e7e7e7;
}

i,
svg {
  pointer-events: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 1rem;
  font-size: 1rem;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-family: "Permanent Marker", cursive;
}

.heading span {
  padding: 1rem;
}

.heading-kicker {
  color: #bd2121;
}

.sub-heading {
  font-family: "Permanent Marker", cursive;
  border-bottom: #bd2121 solid 2px;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  height: 5rem;
  width: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background: #ca9d9d;
}

.snare-pad {
  background: #a3c0d8;
}

.hihat-pad {
  background: #b1dfc5;
}

.kick-pad.active {
  background: #f80000;
}

.snare-pad.active {
  background: #0288f7;
}

.hihat-pad.active {
  background: #03f56c;
}

.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 5rem;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.sequencer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0 1.2rem;
}

.controls button {
  padding: 1rem;
  border: none;
  background: #c5c5c5;
  color: #0b0c10;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  margin: 3rem;
  font-size: 1.5rem;
  background: #e7e7e7;
  color: #0b0c10;
  border: none;
  cursor: pointer;
}

.play.active {
  background: #bd2121;
  color: #e7e7e7;
  border: #e7e7e7 solid 0.1rem;
}

.mute.active {
  background: #bd2121;
  color: #e7e7e7;
  border: #e7e7e7 solid 0.1rem;
}

.fa-drum {
  padding: 0 1rem;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
